{% extends 'base.html' %}
{% block title %} {{business.name}}'s Profile {% endblock %}

{% block content %}
{% include 'business/discovery_modal.html' %}
<div class="container-fluid">
  <button class="btn btn-outline-secondary" onclick="goBack()">Back</button>
  <div class="m-3">
          <div class="card border-secondary col-md-12">
              <div class="card-header">
                  <div class="row d-flex">
                      <h3>
                        {{business.name}}
                      </h3>
                        {% if business.local == True %}
                        <div>
                        <i class="p-2 ml-4 fas fa-certificate" data-toggle="tooltip" data-placement="top" title="Locally Owned"></i>
                        {% endif %}
                        {% if business.is_open %}
                        <i class="p-2 fas fa-door-open" data-toggle="tooltip" data-placement="top" title="Open Now"></i>
                        {% endif %}
                        {% if business.delivery %}
                        <i class="p-2 fas fa-couch" data-toggle="tooltip" data-placement="top" title="Offers Delivery">
                        </i>
                        {% endif %}
                        {% if business.pickup %}
                        <i class=" p-2 fas fa-walking" data-toggle="tooltip" data-placement="top" title="Offers pickup"></i>
                        {% endif %}
                        </div>
                      
                      <small class=" ml-auto p-2">
                          {% if db_bus in g.user.connections %}
                          <button type="button" class="btn-sm btn btn-info" data-toggle="modal" data-target="#DiscoveryModal">
                          Edit my Discovery!
                          </button>
                          {% else %}
                          <form id="add/{{db_bus.id}}" class="disc-form">
                          <button 
                          type="submit" class=" btn-sm btn-primary" data-toggle="modal"
                          data-target="#DiscoveryModal">
                          Add to my Discoveries!
                          </button>
                          </form>
                          {% endif %}
                      </small>
                  </div>
                  <br>
                  <h6 class="card-subtitle text-muted">Rating:{{business.rating}}</h6>
              </div>
              <div class="card-body row d-flex flex-md-wrap justify-content-around">
                  <div class="col-md-6">
                    <table class="table table-hover">
                        <tbody>
                        <tr class="table-light">
                            <th scope="row">Phone</th>
                            <td>{{business.phone}}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Address</th>
                            <td>{{business.address[0]}}
                              <br>
                              {{business.address[1]}}
                            </td>
                        </tr>
                        {% if business.hours %}
                        <tr class="table-light">
                          
                            <th scope="row">Hours</th>
                            <td>
                              <ul class="list-group list-group-flush">
                              {% for day in business.hours %}
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{day}}
                              </li>
                              {% endfor %}
                              </ul>
                            </td>
                        </tr>
                        {% endif %}
                        <tr class="table-light">
                            <th scope="row">Categories</th>
                            <!-- <td>
                              {% for cat in business.categories %}
                              <a href="/category?q={{cat}}">{{cat}}</a>
                              {% endfor %}
                            </td> -->
                            <td>{{categories}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col">
                  {% if db_bus in g.user.connections %}
                        <div>
                            <h5>Notes : </h5>
                            <p>{{disc.notes}}</p>
                        </div>
                  {% endif %}
                  {% if business.photos %}
                    <div>
                      {% for img in business.photos %}
                      <img src="{{img}}"style="width: 200px; height: 200px" alt="an image of {{business.name}}" class="img-thumbnail img">
                      {% endfor %}
                    </div>
                  {% endif %}
                  </div>
              </div>
          </div>
  </div>
</div>

{% endblock %}