{% extends 'base.html' %}
{% block title %} Learn more! {% endblock %}

{% block content %}

<div class="jumbotron">
    <h2 class="display-5">Welcome to </h2> 
    <h2 class="display-3">Shop My Street</h2>
    <p class="lead">An ultra local shopping app for you to explore your neighhborbood from the comfort of your home.</p>
    <hr class="my-4">
    <p>Currently powered by the Yelp API, search within walking distance by category or keywords, and collect your favorite local gems.</p>
    <div class="lead justify-content-center">
      <a class="btn btn-outline-primary" href="/login" role="button">Login</a>
      <a class="btn btn-outline-primary" href="/signup" role="button">Signup</a>
    </div>
  </div>
{% endblock %}
